<div class="form__group__item__container">
    <div ng-if="!model.formField.editable">
        <div ng-if="!model.formField.languageSupport">
            <iframe ng-if="model.fields[model.formField.id]['*'] != undefined" src="{{getFrameSource(model.formField.id, '*', 'view')}}" />
        </div>
        <div ng-if="model.formField.languageSupport">
            <iframe ng-if="model.fields[model.formField.id][model.culture] != undefined" src="{{getFrameSource(model.formField.id, model.culture, 'view')}}" />
        </div>
    </div>

    <div ng-if="model.formField.editable">
        <div ng-class="{'row': model.formField.languageSupport, 'row__col__xs__6': model.formField.languageSupport}">
            <div ng-show="model.formField.languageSupport">
                <span><translate>general.edit</translate>: </span>
                <select name="{{model.formField.id}}_culture" ng-model="editLanguage" ng-change="setEditLanguage(editLanguage)" ng-options="culture.value for culture in languageList track by culture.id"></select>
            </div>

            <div>
                <div ng-if="!model.formField.languageSupport">
                    <iframe src="{{getFrameSource(model.formField.id, '*', 'edit')}}" />
                    <input type="hidden" name="{{model.formField.id}}" ng-model="model.fields[model.formField.id]['*']" server-validate="{{model.formField.id}}" />
                </div>
                <div ng-if="model.formField.languageSupport">
                    <iframe src="{{getFrameSource(model.formField.id, editLanguage.id, 'edit')}}" />
                    <input type="hidden" name="{{model.formField.id}}" ng-model="model.fields[model.formField.id][editLanguage.id]" server-validate="{{model.formField.id}}" />
                </div>
            </div>
        </div>
        <div class="row__col__xs__6" ng-if="model.formField.languageSupport">
            <span><translate>general.view</translate>: </span>
            <select ng-model="viewLanguage" ng-change="setViewLanguage(viewLanguage)" ng-options="culture.value for culture in languageList"></select>
            <br/>
            <iframe ng-if="model.fields[model.formField.id][viewLanguage.id] != undefined" src="{{getFrameSource(model.formField.id, viewLanguage.id, 'view')}}" />
        </div>
    </div>
    <style scoped>
        iframe {
            width: 100%;
            height: 300px;
            border: none;
        }
    </style>
</div>