<agm-map [streetViewControl]="false"
        [latitude]="lat" 
        [longitude]="lng"
        [zoom]="zoom"
        (centerChange)="send('onCenterChange', $event)"
        (zoomChange)="send('onZoomChange', $event)"
        (mapRightClick)="send('onLocationChoose', $event.coords)"
    >
        <agm-marker *ngIf="markerLat && markerLng" [latitude]="markerLat" [longitude]="markerLng"></agm-marker>

        <agm-search-box *ngIf="mode === 'edit'" [placeholder]="'Search and select a location or right click on the map'" [position]="searchPosition" 
            (placesChange)="send('onLocationChoose', { lat: $event[0].geometry.location.lat(), lng: $event[0].geometry.location.lng() })"></agm-search-box>
</agm-map>